// p标签不换行且带省略号
@mixin p_overflow_eli ($w, $fs, $clr) {
	width: $w;
	font-size: $fs;
	color: $clr;
	display: block;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// 字体大小，颜色
@mixin fontSizeColor($size, $color) {
	font-size: $size;
	color: $color;
}

// 宽高
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}
