/*颜色区*/
$fontClr: #666666;
$green: #42b983;
$orange: #ffa111;
$bgClr: #F2F2F2;
$white: #fff;
$placeHolder: #cccccc;
$userBg: #2F3137;
$userHolder: #5B5F6C;

// 水平居中盒子
@mixin horMidBox {
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
}

// 垂直居中盒子
@mixin verMidBox {
	display: flex;
	flex-flow: nowrap column;
	align-items: center;
}

//横向盒子
@mixin rowBox {
	display: flex;
	flex-flow: row;
}

// 水平垂直居中盒子
@mixin allMidBox {
	display: flex;
	flex-flow: nowrap column;
	justify-content: center;
	align-items: center;
}

// 背景图片地址和大小 覆盖
@mixin bgCover($url) {
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

// 设置盒子的圆角
@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

// 宽高
@mixin wh($width, $height) {
	width: $width;
	height: $height;
}

// 字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
	font: #{$size}/#{$line-height} $family;
}

// 字体大小，颜色
@mixin fontSizeColor($size, $color) {
	font-size: $size;
	color: $color;
}

// 全边框
@mixin fullBorder($px,$color) {
	border: $px solid $color;
}


// 图片镜头动画
@mixin scaleAnimation() {
	-webkit-animation:picScale 1s ease-out backwards, picScale 15s ease-in-out infinite alternate;
	animation:picScale 1s ease-out backwards, picScale 15s ease-in-out infinite alternate
}

@keyframes picScale {
	0% {
		-webkit-transform: scale(1.01);
		-moz-transform: scale(1.01);
		-ms-transform: scale(1.01);
		-o-transform: scale(1.01);
		transform: scale(1.01);
	}
	100% {
		-webkit-transform: scale(1.15);
		-moz-transform: scale(1.15);
		-ms-transform: scale(1.15);
		-o-transform: scale(1.15);
		transform: scale(1.15);
		opacity: .86;
	}
}

// p标签不换行且带省略号
@mixin p_overflow_eli ($w, $fs, $clr) {
	width: $w;
	font-size: $fs;
	color: $clr;
	display: block;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

